body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-size: 14px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
ul, li, ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  color: #111111;
  margin: 0;
}
a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #eaeaea;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 15px;
  height: 340px;
  text-align: center;
}
.rounded {
  border-radius: 0.25rem !important;
  margin: 25px;
}
.card-body {
  flex: 1 1 auto;
  padding: 0rem 1rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tutor-block {
  background-color: #f6f6f6;
  padding: 30px;
}
.tutor-content {
  text-align: center;
}
.tutor-title {
  margin-bottom: 5px;
}
.tutor-designation {
  color: #ff3c2e;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 12px;
}
.tutor-img img {
  width: 50%;
  margin-bottom: 30px;
  border-radius: 200px;
}
.tutor-img {
  text-align: center;
}
.social-media {
  background-color: #292929;
  padding: 12px;
  text-align: center;
}
.social-media span {
  margin-right: 18px;
  font-size: 20px;
  font-family: "FontAwesome";
}
/* MARKETING CONTENT
  -------------------------------------------------- */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing strong {
  font-weight: 750;
  margin: 15px auto;
  display: block;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 5rem;
}
.social-media a {
  color: #f6f6f6;
}
/*---------------------
  Header
-----------------------*/
.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: black;
}
.p-4 {
  padding-left: 3rem !important;
  display: flex;
}
.form-check-label {
  display: inline;
  color: #252525;
  padding-left: 0.8rem;
}
#sidebar h5 {
  color: #252525;
  font-size: 1.634rem;
  padding-left: 3.965rem;
}
.form-check-input:checked {
  background-color: #ff5733;
  border-color: #ff5733;
}
.form-check-input {
  border: 1px solid #ff5733;
}
#sidebar ul li {
  font-size: 1.234rem;
  padding-bottom: 1.358rem;
  display: flex;
}
.form-check-input[type=radio] {
  border-radius: 33%;
}
.form-check-input:checked[type=radio] {
  background-image: none;
}
#sidebar {
  min-width: 370px;
  max-width: 370px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}
.prod-bg {
  width: 19.5%;
  height: 110px;
  background-color: #E0E0E0;
  margin-bottom: 10px
}
.fat-img {
  width: 94px;
  height: 100px
}
.more {
  width: 19.5%;
  height: 110px;
  color: #fff;
  background-color: #000;
  cursor: pointer
}
#belleza:checked~#productosCuidadoPersonal .belleza,
#belleza:checked~#productosCuidadoPersonal .maquillaje {
  display: none;
}
#maquillaje:checked~#productosCuidadoPersonal .maquillaje,
#maquillaje:checked~#productosCuidadoPersonal .maquillaje {
  display: none;
}
.banner_bg_main {
  width: 100%;
  float: left;
  background-image: url(https://media-public.canva.com/MADQtkBDQiA/2/screen_2x.jpg);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.header_section_top {
  width: 100%;
  float: left;
  background-color: #2b2a29;
  clip-path: polygon(0 0, 100% 0, 96% 100%, 3% 100%);
  height: auto;
  padding: 10px 0px;
}
.custom_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.custom_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.custom_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 6px 10px 0px 10px;
}
.custom_menu li a {
  color: #f1f1f1;
}
.custom_menu li a:hover {
  color: #ff5733;
}
.logo_section {
  width: 100%;
  float: left;
}
.logo {
  width: 100%;
  float: left;
  text-align: center;
  padding: 30px 0px;
}
.header_section {
  width: 100%;
  display: flex;
}
.containt_main {
  display: flex;
}
.layout_padding {
  padding-top: 90px;
  padding-bottom: 0px;
}
.banner_section {
  width: 100%;
  float: left;
  padding-bottom: 60px;
}
.banner_taital {
  width: 100%;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.buynow_bt {
  width: 170px;
  margin: 0 auto;
  padding-top: 30px;
}

.buynow_bt a {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #ffffff;
  background-color: #252525;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.buynow_bt a:hover {
  background-color: #ff5733;
  transition-duration: 0.1s;
}
.dropdown-categorias{
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  order: 2;
}
.main {
  flex: 1;
  margin: 0px 30px;
  display: inline-block;
  order: 2;
}
.fashion_taital {
  width: 100%;
  font-size: 40px;
  color: #30302e;
  text-align: center;
  font-weight: bold;
  padding-bottom: 60px;
  padding-top: 60px;
}
.jewellery_section {
  width: 100%;
  float: left;
  padding-bottom: 50px;
}
#jewellery_main_slider a.carousel-control-next {
  right: 615px;
  top: 75%;
}
#jewellery_main_slider a.carousel-control-prev {
  left: 615px;
  top: 75%;
}
#jewellery_main_slider .carousel-control-next,
#jewellery_main_slider .carousel-control-prev {
  width: 55px;
  height: 55px;
  background-color: #30302e;
  opacity: 1;
  font-size: 30px;
  color: #ffffff;
}
#jewellery_main_slider .carousel-control-next:focus,
#jewellery_main_slider .carousel-control-next:hover,
#jewellery_main_slider .carousel-control-prev:focus,
#jewellery_main_slider .carousel-control-prev:hover {
  color: #fff;
  background-color: #ff5733;
}
.input-group .btn {
  position: unset;
  z-index: 2;
}
#my_slider .carousel-control-next, #my_slider .carousel-control-prev {
  width: 45px;
  height: 45px;
  background: rgb(242, 222, 172, 0.80);
  opacity: 1;
  font-size: 20px;
  color: #000;
  border-radius: 100px;
}
.carousel-item {
  position: relative;
  display: none;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#my_slider a.carousel-control-next {
  right: 0px;
  top: 40px;
}
.footer_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
}
.footer_menu {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.footer_menu ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.footer_menu li {
  float: left;
  font-size: 16px;
  color: #f1f1f1;
  padding: 20px 10px 0px 10px;
}
.location_main {
  float: left;
  font-size: 16px;
  color: #ffffff;
  padding: 30px 30px 30px 30px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}
.location_main a {
  color: #ffffff;
}
.copyright_section {
  width: 100%;
  float: left;
  background-color: #252525;
  height: auto;
}
.copyright_text {
  width: 100%;
  float: left;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin: 20px 0px;
}
.footer_menu li a {
  color: #f1f1f1;
}