body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: "Poppins,Arial", sans-serif;
}

.rounded {
  border-radius: 0.25rem !important;
  margin: 25px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0rem 1rem;
}

.ftco-section {
  padding: 7rem 0 2rem;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  opacity: 1;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 60px;
  color: rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 1;
}

@media (prefers-reduced-motion: reduce) {

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev p span,
.owl-carousel .owl-nav .owl-prev p small,
.owl-carousel .owl-nav .owl-next p span,
.owl-carousel .owl-nav .owl-next p small {
  display: block;
  color: #000;
  line-height: .8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {

  .owl-carousel .owl-nav .owl-prev p span,
  .owl-carousel .owl-nav .owl-prev p small,
  .owl-carousel .owl-nav .owl-next p span,
  .owl-carousel .owl-nav .owl-next p small {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev small,
.owl-carousel .owl-nav .owl-next small {
  text-transform: uppercase;
}

.owl-carousel .owl-nav .owl-prev span,
.owl-carousel .owl-nav .owl-next span {
  line-height: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {

  .owl-carousel .owl-nav .owl-prev span:before,
  .owl-carousel .owl-nav .owl-next span:before {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev:hover small,
.owl-carousel .owl-nav .owl-next:hover small {
  color: #ffc6be;
}

.owl-carousel .owl-nav .owl-prev:hover span:before,
.owl-carousel .owl-nav .owl-next:hover span:before {
  color: #ffc6be;
}

.owl-carousel .owl-nav .owl-prev {
  left: 50%;
  margin-left: -35px;
}

.owl-carousel .owl-nav .owl-next {
  right: 50%;
  margin-right: -35px;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: transparent;
  position: relative;
  border: 1px solid #000;
}

.owl-carousel .owl-dots .owl-dot:hover,
.owl-carousel .owl-dots .owl-dot:focus {
  outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #ffc6be;
  border: 1px solid #ffc6be;
}

@media (min-width: 992px) {
  .owl-carousel .owl-dots {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    margin-right: -40px;
  }

  .owl-carousel .owl-dots .owl-dot {
    display: block;
  }
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.work-wrap .text,
.work-wrap .img {
  width: 50%;
}

@media (max-width: 767.98px) {

  .work-wrap .text,
  .work-wrap .img {
    width: 100%;
  }
}

.work-wrap .img {
  height: 700px;
}

.work-wrap .text {
  background: #fff3f1;
}

.work-wrap .text h2 {
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .work-wrap .text h2 {
    font-size: 40px;
  }
}


.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.work-wrap .text h2 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .text-lg-right {
    text-align: right !important;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel {
  margin-bottom: 4rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.tutor-block {
  background-color: #f6f6f6;
  padding: 30px;
}

.tutor-content {
  text-align: center;
}

.tutor-title {
  margin-bottom: 5px;
}

.tutor-designation {
  color: #ff3c2e;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 12px;
}

.tutor-img img {
  width: 50%;
  margin-bottom: 30px;
  border-radius: 200px;
}
.tutor-img {
  text-align: center;
}

.social-media {
  background-color: #292929;
  padding: 12px;
  text-align: center;
}

.social-media span {
  margin-right: 18px;
  font-size: 20px;
  font-family: "FontAwesome";
}


/* MARKETING CONTENT
  -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing strong {
  font-weight: 750;
  margin: 15px auto;
  display: block;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
  ------------------------- */

.featurette-divider {
  margin: 5rem 5rem;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

.social-media a {
  color: #f6f6f6;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*---------------------
  Header
-----------------------*/
.header {
  background: #252525;
}

.header__top {
  position: relative;
  background: #ffffff;
}

.header__top__inner {
  height: 102px;
  padding-top: 38px;
}

.header__menu {
  text-align: center;
}

.header__menu ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: -5px;
  border-right: 1.1px dashed #fff;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.header__menu ul li.active a {
  background: #FF5733;
}

.header__menu ul li:hover a {
  background: #FF5733;
}

.header__menu ul li:hover .dropdown {
  top: 62px;
  opacity: 1;
  visibility: visible;
}

.header__menu ul li:last-child {
  margin-right: 0;
}

.header__menu ul li .dropdown {
  position: absolute;
  left: 0;
  top: 82px;
  width: 150px;
  background: #212529;
  text-align: left;
  padding: 5px 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
  display: block;
  margin-right: 0;
}

.header__menu ul li .dropdown li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  padding: 5px 20px;
  text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
  display: none;
}

.header__menu ul li a {
  font-size: 16px;
  color: #ffffff;
  display: block;
  padding: 20px 35px 18px;
  letter-spacing: 1px;
  -webkit-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s;
  text-decoration: none;
}

.offcanvas-menu-wrapper {
  display: none;
}

.canvas__open {
  display: none;
}

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: black;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.p-4 {
  padding-left: 3rem !important;
  display: flex;
}

.form-check-label {
  display: inline;
  color: #252525;
  padding-left: 0.8rem;
}

#sidebar h5 {
  color: #252525;
  font-size: 1.634rem;
  padding-left: 3.965rem;
}

.form-check-input {
  border: 1px solid #ff5733;
}

#sidebar ul li {
  font-size: 1.234rem;
  padding-bottom: 1.358rem;
  display: flex;
}

.form-check-input[type=radio] {
  border-radius: 33%;
}

.form-check-input:checked[type=radio] {
  background-image: none;
}

#sidebar {
  min-width: 370px;
  max-width: 370px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.prod-bg {
  width: 19.5%;
  height: 110px;
  background-color: #E0E0E0;
  margin-bottom: 10px
}

.fat-img {
  width: 94px;
  height: 100px
}

.more {
  width: 19.5%;
  height: 110px;
  color: #fff;
  background-color: #000;
  cursor: pointer
}

@media screen and (max-width: 677px) {
  .prod-bg {
    width: 33%;
    height: 110px;
    background-color: #E0E0E0
  }

  .more {
    width: 66%
  }
}

#belleza:checked~#productosCuidadoPersonal .belleza,
#belleza:checked~#productosCuidadoPersonal .maquillaje {
  display: none;
}

#maquillaje:checked~#productosCuidadoPersonal .maquillaje,
#maquillaje:checked~#productosCuidadoPersonal .maquillaje {
  display: none;
}
.block {
  margin: 20px;
  border-radius: 4px;
  width: 338px;
  min-height: 430px;
  background: #fff;
  padding: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  box-shadow: 0 2px 55px rgba(0,0,0,0.1);
}
.dish-card .dish-card__container-image {
  position: relative;
}